footer 
  .terms 
    p Términos de uso 
    p Declaración de privacidad 
    p Centro de ayuda
  .credits
    p Coded by 
      a(href="https://github.com/GomezJuanEfe" target="_blank") Juan Felipe Gómez