extend home-template.pug 
block template 
  section.main 
    h2 ¿Qué quieres ver hoy?
    input(type="text" placeholder="Buscar...")
  section.carousel 
    .carousel-container
      +carousel-item("https://images.pexels.com/photos/1427741/pexels-photo-1427741.jpeg?auto=format,compress&cs=tinysrgb&dpr=2&h=750&w=1260","Titulo 1","Duración 90 min")
      +carousel-item("https://images.pexels.com/photos/789822/pexels-photo-789822.jpeg?auto=format,compress&cs=tinysrgb&dpr=2&h=750&w=1260","Titulo 2","Duración 130")
      +carousel-item("https://images.pexels.com/photos/705792/pexels-photo-705792.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500","Titulo 3","Duración 120")
      +carousel-item("https://images.pexels.com/photos/904276/pexels-photo-904276.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500","Titulo 4","Duración 110")
      +carousel-item("https://images.pexels.com/photos/1172207/pexels-photo-1172207.jpeg?auto=format,compress&cs=tinysrgb&dpr=2&w=500","Titulo 5","Duración 150")
      +carousel-item("https://images.pexels.com/photos/233129/pexels-photo-233129.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500","Titulo 6","Duración 80")
      +carousel-item("https://images.pexels.com/photos/1666779/pexels-photo-1666779.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260","Titulo 7","Duración 90")
      +carousel-item("https://images.pexels.com/photos/413879/pexels-photo-413879.jpeg?auto=format,compress&cs=tinysrgb&dpr=2&h=750&w=1260","Titulo 8","Duración 140")