doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./styles/styles.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet")
    title Video Streaming - Code Practice
  body 
    header.header
      img.header__logo(src="./assets/logo.svg", alt="logo") 
    main.main 
      h1 Inicio sesión
      .main__form-container
        form.main__form
          input.form__mail(type="text", placeholder="correo")
          input.form__password(type="text", placeholder="contraseña")
          input.form__submit(type="submit", value="Iniciar sesión")
        .form__remember-me 
          input(type="checkbox", name="remember-me", id="cbox1", value="1",)
          label(for="cbox1") Recuérdame. 
          a(href="") Olvidé la contraseña.
      .social-media 
        img.social-media__fb-logo(src="./assets/facebook.svg", alt="Facebook logo")
        p Inicia sesión con Facebook. 
        img.social-media__ig-logo(src="./assets/instagram.svg", alt="Instagram logo")
        p Inicia sesión con Instagram. 
      .main__register 
        p ¿No tienes una cuenta? 
          a(href="") Regístrate.
    footer.footer
      p Términos de uso 
      p Declaración de privacidad 
      p Centro de ayuda
